<div class=" bg-secondary">
    <div class="container bg-dark p-2">
        <div>
            <div class="text-center  game-store-footer-question">
                <span class="light-blue-green-gradient">Do</span>
                <span class="light-blue-green-gradient">you</span>
                <span class="light-blue-green-gradient">want</span>
                <span class="light-blue-green-gradient">to</span>
                <span class="light-blue-green-gradient">see</span>
                <span class="light-blue-green-gradient">recommendations?</span>
            </div>
        </div>
        <div class="text-center game-store-footer-underline">
            <hr class="bg-light" />
            <a href="#">
                <span class="game-store-footer-white game-store-footer-link">
                    Sign in
                </span>
            </a>
            <span class="light-blue-green-gradient">or</span>
            <a href="#">
                <span class="game-store-footer-white game-store-footer-link">
                    Sign Up
                </span>
            </a>
        </div>
        <div class="text-center game-store-footer-white" >
            &copy; @GameStore.WEB.Service.Config.CompanyName company
        </div>
    </div>
</div>

